body {
    font-family: 'Times New Roman', Times, serif;
}

.h-100px {
    height: 100px;
}

#space {
    height: 100px;
}

h1, h2, h3, h4, h5, h6, table, .nav-link {
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 24px;
    text-align: center;
}

h4 {
    font-size: 32px;
    margin-bottom: 36px;
    text-align: center;
}

h6 {
    font-weight:bold;
}

p {
    font-size: 20px;
}

.process {
    font-weight: bold;
    font-size: 24px;
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    background-color: lightgray;
    height:40px;
}

.width-1 {
    max-width: 72px;
    min-width: 44px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-2 {
    max-width: 168px;
    min-width: 112px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-3 {
    max-width: 264px; 
    min-width: 180px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-4 {
    max-width: 360px; 
    min-width: 248px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-5 {
    max-width: 456px; 
    min-width: 316px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-6 {
    max-width: 552px; 
    min-width: 384px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-7 {
    max-width: 648px;
    min-width: 452px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-8 {
    max-width: 744px;
    min-width: 520px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-9 {
    max-width: 840px; 
    min-width: 588px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-10 {
    max-width: 936px; 
    min-width: 656px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-11 {
    max-width: 1032px; 
    min-width: 724px;
    margin-right: 12px;
    margin-left: 12px;
}

.width-12 {
    max-width: 1128px; 
    min-width: 900px;
    margin-right: 12px;
    margin-left: 12px;
}

@media only screen and (max-width: 900px) {
    #top {
        padding-top: 100px;
    }

    #space {
        height: 0;
    }

    h1 {
        font-size: 32px;
        padding-top: 60px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .process {
        font-size: 12px;
        height: 24px;
    }

    .nav-link {
        font-size: 14px;
    }

    .width-1 {
        max-width: 44px;
        min-width: 14px;
    }
    
    .width-2 {
        max-width: 112px;
        min-width: 40px;
    }
    
    .width-3 {
        max-width: 180px;
        min-width: 66px;
    }
    
    .width-4 {
        max-width: 248px;
        min-width: 92px;
    }
    
    .width-5 {
        max-width: 316px;
        min-width: 118px;
    }
    
    .width-6 {
        max-width: 384px;
        min-width: 144px;
    }
    
    .width-7 {
        max-width: 452px;
        min-width: 170px;
    }
    
    .width-8 {
        max-width: 520px;
        min-width: 196px;
    }
    
    .width-9 {
        max-width: 588px;
        min-width: 222px;
    }
    
    .width-10 { 
        max-width: 656px;
        min-width: 248px;
    }
    
    .width-11 {
        max-width: 724px;
        min-width: 274px;
    }
    
    .width-12 {
        max-width: 900px;
        min-width: 300px;
    }
}